<div class="first row">
  <p>来吧，准备战斗！</p>
</div>

<body style="background: black">
  <div class="second">
    <p><img src="http://oqcw08l71.bkt.clouddn.com/list.jpg" alt=""></p>
  </div>


<section id="company">
  <div class="container third">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://oqcw08l71.bkt.clouddn.com/2-1.jpg" style="width: 360px;">
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://oqcw08l71.bkt.clouddn.com/2-2.jpg" style="width: 360px;" >
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://oqcw08l71.bkt.clouddn.com/2-3.jpg" style="width: 360px;">
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://oqcw08l71.bkt.clouddn.com/2-4.jpg" style="width: 360px;">
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://oqcw08l71.bkt.clouddn.com/2-5.jpg" style="width: 360px;">
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://oqcw08l71.bkt.clouddn.com/2-6.jpg" style="width: 360px;">
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://oqcw08l71.bkt.clouddn.com/2-7.jpg" style="width: 360px;">
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://oqcw08l71.bkt.clouddn.com/2-8.jpg" style="width: 360px;">
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://oqcw08l71.bkt.clouddn.com/2-9.jpg" style="width: 360px;">
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://oqcw08l71.bkt.clouddn.com/2-10.jpg" style="width: 360px;">
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://oqcw08l71.bkt.clouddn.com/2-11.jpg" style="width: 360px;">
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://oqcw08l71.bkt.clouddn.com/2-12.jpg" style="width: 360px;">
        </div>
      </div>
    </div>
  </div>

</section>
</body>
